.seccion-entradas {
    margin: 0 auto;
    max-width: 800px;
}

.seccion-entradas > h1 {
    text-align: center;
    margin: 25px;
    margin-top: 80px;
}

.entrada-blog {
    padding: 0 30px 30px 30px;
    border: 2px solid rgb(111, 115, 111);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgb(128, 126, 126);
    margin: 5px;
    margin-bottom: 50px;
    background-color: #effbec;
}

.entrada-blog-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* gap: 20px; */
}

.entrada-blog h2 {
    margin: 10px;
    margin-top: 25px;
    text-align: center;
}

.entrada-blog .encabezado {
    margin: 20px 0;
    text-align: justify;
}

.entrada-blog .autor {
    position: relative;
    top: 20px; left: -20px;
}

.entrada-blog img {
    border-radius: 0 0 15px 15px;
    width: 100%;
}
